.form-horizontal{
	display:block-inline;
	margin-left: 60px;
	width:85%;
	padding: 1%;
	border: solid #73AD21 2px;
	border-radius:25px;
}

.form-header{
	display:block-inline;
	width:100%;
	font-weight:bold;
}